<h1><%= link_to "Bienvenue sur le site des Docteurs",'/'%></h1>

<br>
<br>

<div class="boite boite1">
        <%= link_to "Liste des physicians",'/physicians'%><br><br><br>
        <%= link_to "Création d'un physician",'/physicians/new'%>
</div>

<div class="boite boite2">
        <%= link_to "Liste des patients",'/patients'%><br><br><br>
        <%= link_to "Création d'un patient",'/patients/new'%>
</div>
<div class="boite boite3">
    <%= link_to "Liste des Appoitments",'/appointments'%>
    <%= link_to "New Appointments",'/appointments/new'%>
</div>