<h1><%= link_to "Bienvenue sur le site des Docteurs",'/'%></h1>

<br>
<br>

<div class="boite boite1">
        <%= link_to "Liste des docteurs",'/doctors'%><br><br><br>
        <%= link_to "Création d'un docteur",'/doctors/new'%>
</div>

<div class="boite boite2">
        <%= link_to "Liste des patients",'/patients'%><br><br><br>
        <%= link_to "Création d'un patient",'/patients/new'%>
</div>
<div class="boite boite3">
    <%= link_to "Liste des Appoitments",'/appoitments'%><br><br><br>
    <%= link_to "New Appoitments",'/appoitments/new'%>
</div>